In [12]:
data_y = r"C:\Users\emanu\Documents\ESGI\Orchestration\OML\oml\data\01_raw\NHANESI_y.csv"
data_x = r"C:\Users\emanu\Documents\ESGI\Orchestration\OML\oml\data\01_raw\NHANESI_X.csv"

In [13]:
import csv
import requests
import pandas as pd
import datetime

In [14]:
data_x = pd.read_csv(data_x)

In [15]:
# data_x.columns

In [16]:
data_y = pd.read_csv(data_y)
data_y.columns

Index(['Unnamed: 0', 'y'], dtype='object')

In [17]:
df = pd.merge(data_x, data_y, on=['Unnamed: 0']).rename(columns={'Unnamed: 0': "ID"})

In [18]:
df['date'] = pd.date_range(start='1/1/2019', periods=len(df), freq='H')

In [19]:
newdf = pd.to_datetime(df['date']).dt.normalize()

In [20]:
df['date'] = newdf

In [21]:
df.date

0       2019-01-01
1       2019-01-01
2       2019-01-01
3       2019-01-01
4       2019-01-01
           ...
14259   2020-08-17
14260   2020-08-17
14261   2020-08-17
14262   2020-08-17
14263   2020-08-17
Name: date, Length: 14264, dtype: datetime64[ns]

In [22]:
df.columns

Index(['ID', 'sex_isFemale', 'age', 'physical_activity', 'serum_albumin',
       'alkaline_phosphatase', 'alkaline_phosphatase_isUnacceptable',
       'alkaline_phosphatase_isTestnotdone', 'SGOT', 'SGOT_isUnacceptable',
       'SGOT_isTestnotdone', 'BUN', 'BUN_isUnacceptable', 'BUN_isTestnotdone',
       'calcium', 'calcium_isUnacceptable', 'calcium_isTestnotdone',
       'creatinine', 'creatinine_isUnacceptable', 'creatinine_isTestnotdone',
       'potassium', 'potassium_isUnacceptable', 'sodium',
       'sodium_isUnacceptable', 'total_bilirubin',
       'total_bilirubin_isUnacceptable', 'total_bilirubin_isTestnotdone',
       'serum_protein', 'red_blood_cells', 'red_blood_cells_isUnacceptable',
       'red_blood_cells_isBlankbutapplicable', 'white_blood_cells',
       'white_blood_cells_isUnacceptable',
       'white_blood_cells_isBlankbutapplicable', 'hemoglobin',
       'hemoglobin_isMissing', 'hematocrit', 'hematocrit_isUnacceptable',
       'hematocrit_isMissing', 'platelets_isNormal', 'platelets_isIncreased',
       'platelets_isDecreased', 'platelets_isNoestimate',
       'segmented_neutrophils', 'lymphocytes', 'monocytes', 'eosinophils',
       'basophils', 'band_neutrophils', 'cholesterol', 'cholesterol_isMissing',
       'urine_albumin_isNegative', 'urine_albumin_is>=30',
       'urine_albumin_is>=100', 'urine_albumin_is>=300',
       'urine_albumin_is>=1000', 'urine_albumin_isTrace',
       'urine_albumin_isBlankbutapplicable', 'urine_glucose_isNegative',
       'urine_glucose_isLight', 'urine_glucose_isMedium',
       'urine_glucose_isDark', 'urine_glucose_isVerydark',
       'urine_glucose_isTrace', 'urine_glucose_isBlankbutapplicable',
       'urine_pH', 'urine_pH_isBlankbutapplicable',
       'urine_hematest_isNegative', 'urine_hematest_isSmall',
       'urine_hematest_isModerate', 'urine_hematest_isLarge',
       'urine_hematest_isBlankbutapplicable', 'sedimentation_rate',
       'sedimentation_rate_isBlankbutapplicable', 'uric_acid',
       'uric_acid_isUnacceptable', 'uric_acid_isTestnotdone',
       'systolic_blood_pressure', 'pulse_pressure', 'bmi', 'y', 'date'],
      dtype='object')

In [33]:
df.head(100)

,ID,sex_isFemale,age,physical_activity,serum_albumin,alkaline_phosphatase,alkaline_phosphatase_isUnacceptable,alkaline_phosphatase_isTestnotdone,SGOT,SGOT_isUnacceptable,...,sedimentation_rate,sedimentation_rate_isBlankbutapplicable,uric_acid,uric_acid_isUnacceptable,uric_acid_isTestnotdone,systolic_blood_pressure,pulse_pressure,bmi,y,date
0,20751,False,51,3,NaN,85.0,False,False,NaN,True,...,NaN,False,6.2,False,False,110.0,40.0,25.406803,-16.916667,2019-01-01
1,20753,False,41,2,NaN,68.0,False,False,2.27,False,...,NaN,False,7.7,False,False,136.0,54.0,24.588331,-17.166667,2019-01-01
2,20754,True,31,2,NaN,61.0,False,False,1.86,False,...,NaN,False,4.9,False,False,110.0,24.0,23.756502,-17.666667,2019-01-01
3,20755,False,48,2,NaN,58.0,False,False,NaN,True,...,NaN,False,8.4,False,False,126.0,36.0,28.610011,-17.250000,2019-01-01
4,20756,True,29,3,NaN,37.0,False,False,1.69,False,...,NaN,False,4.3,False,False,98.0,36.0,19.216489,-17.083333,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,107,True,31,3,5.2,NaN,False,False,NaN,False,...,11.0,False,NaN,False,False,156.0,78.0,26.760000,-21.083333,2019-01-04
96,109,True,41,3,4.0,NaN,False,False,NaN,False,...,5.0,False,NaN,False,False,128.0,46.0,33.868131,-21.083333,2019-01-05
97,111,False,42,2,4.7,NaN,False,False,NaN,False,...,8.0,False,NaN,False,False,142.0,54.0,26.693030,-21.083333,2019-01-05
98,112,True,44,3,NaN,NaN,False,False,NaN,False,...,7.0,False,NaN,False,False,122.0,44.0,22.510081,-21.083333,2019-01-05
99,116,True,30,3,4.2,NaN,False,False,NaN,False,...,14.0,False,NaN,False,False,124.0,52.0,25.893593,-21.166667,2019-01-05