In [1]:
data_y = r"../data/01_raw/NHANESI_y.csv"
data_x = r"../data/01_raw/NHANESI_X.csv"

In [2]:
import csv
import requests
import pandas as pd
import datetime

In [3]:
data_x = pd.read_csv(data_x)

In [4]:
data_x.columns

Index(['Unnamed: 0', 'sex_isFemale', 'age', 'physical_activity',
       'serum_albumin', 'alkaline_phosphatase',
       'alkaline_phosphatase_isUnacceptable',
       'alkaline_phosphatase_isTestnotdone', 'SGOT', 'SGOT_isUnacceptable',
       'SGOT_isTestnotdone', 'BUN', 'BUN_isUnacceptable', 'BUN_isTestnotdone',
       'calcium', 'calcium_isUnacceptable', 'calcium_isTestnotdone',
       'creatinine', 'creatinine_isUnacceptable', 'creatinine_isTestnotdone',
       'potassium', 'potassium_isUnacceptable', 'sodium',
       'sodium_isUnacceptable', 'total_bilirubin',
       'total_bilirubin_isUnacceptable', 'total_bilirubin_isTestnotdone',
       'serum_protein', 'red_blood_cells', 'red_blood_cells_isUnacceptable',
       'red_blood_cells_isBlankbutapplicable', 'white_blood_cells',
       'white_blood_cells_isUnacceptable',
       'white_blood_cells_isBlankbutapplicable', 'hemoglobin',
       'hemoglobin_isMissing', 'hematocrit', 'hematocrit_isUnacceptable',
       'hematocrit_isMissing', 'platelets_isNormal', 'platelets_isIncreased',
       'platelets_isDecreased', 'platelets_isNoestimate',
       'segmented_neutrophils', 'lymphocytes', 'monocytes', 'eosinophils',
       'basophils', 'band_neutrophils', 'cholesterol', 'cholesterol_isMissing',
       'urine_albumin_isNegative', 'urine_albumin_is>=30',
       'urine_albumin_is>=100', 'urine_albumin_is>=300',
       'urine_albumin_is>=1000', 'urine_albumin_isTrace',
       'urine_albumin_isBlankbutapplicable', 'urine_glucose_isNegative',
       'urine_glucose_isLight', 'urine_glucose_isMedium',
       'urine_glucose_isDark', 'urine_glucose_isVerydark',
       'urine_glucose_isTrace', 'urine_glucose_isBlankbutapplicable',
       'urine_pH', 'urine_pH_isBlankbutapplicable',
       'urine_hematest_isNegative', 'urine_hematest_isSmall',
       'urine_hematest_isModerate', 'urine_hematest_isLarge',
       'urine_hematest_isBlankbutapplicable', 'sedimentation_rate',
       'sedimentation_rate_isBlankbutapplicable', 'uric_acid',
       'uric_acid_isUnacceptable', 'uric_acid_isTestnotdone',
       'systolic_blood_pressure', 'pulse_pressure', 'bmi'],
      dtype='object')

In [5]:
data_y = pd.read_csv(data_y)
data_y.columns

Index(['Unnamed: 0', 'y'], dtype='object')

In [6]:
df = pd.merge(data_x, data_y, on=['Unnamed: 0']).rename(columns={'Unnamed: 0': "ID"})

In [7]:
df['date'] = pd.date_range(start='1/1/2019', periods=len(df), freq='H')

In [8]:
newdf = pd.to_datetime(df['date']).dt.normalize()

In [9]:
df['date'] = newdf

In [10]:
df.date

0       2019-01-01
1       2019-01-01
2       2019-01-01
3       2019-01-01
4       2019-01-01
           ...
14259   2020-08-17
14260   2020-08-17
14261   2020-08-17
14262   2020-08-17
14263   2020-08-17
Name: date, Length: 14264, dtype: datetime64[ns]

In [11]:
df.columns

Index(['ID', 'sex_isFemale', 'age', 'physical_activity', 'serum_albumin',
       'alkaline_phosphatase', 'alkaline_phosphatase_isUnacceptable',
       'alkaline_phosphatase_isTestnotdone', 'SGOT', 'SGOT_isUnacceptable',
       'SGOT_isTestnotdone', 'BUN', 'BUN_isUnacceptable', 'BUN_isTestnotdone',
       'calcium', 'calcium_isUnacceptable', 'calcium_isTestnotdone',
       'creatinine', 'creatinine_isUnacceptable', 'creatinine_isTestnotdone',
       'potassium', 'potassium_isUnacceptable', 'sodium',
       'sodium_isUnacceptable', 'total_bilirubin',
       'total_bilirubin_isUnacceptable', 'total_bilirubin_isTestnotdone',
       'serum_protein', 'red_blood_cells', 'red_blood_cells_isUnacceptable',
       'red_blood_cells_isBlankbutapplicable', 'white_blood_cells',
       'white_blood_cells_isUnacceptable',
       'white_blood_cells_isBlankbutapplicable', 'hemoglobin',
       'hemoglobin_isMissing', 'hematocrit', 'hematocrit_isUnacceptable',
       'hematocrit_isMissing', 'platelets_isNormal', 'platelets_isIncreased',
       'platelets_isDecreased', 'platelets_isNoestimate',
       'segmented_neutrophils', 'lymphocytes', 'monocytes', 'eosinophils',
       'basophils', 'band_neutrophils', 'cholesterol', 'cholesterol_isMissing',
       'urine_albumin_isNegative', 'urine_albumin_is>=30',
       'urine_albumin_is>=100', 'urine_albumin_is>=300',
       'urine_albumin_is>=1000', 'urine_albumin_isTrace',
       'urine_albumin_isBlankbutapplicable', 'urine_glucose_isNegative',
       'urine_glucose_isLight', 'urine_glucose_isMedium',
       'urine_glucose_isDark', 'urine_glucose_isVerydark',
       'urine_glucose_isTrace', 'urine_glucose_isBlankbutapplicable',
       'urine_pH', 'urine_pH_isBlankbutapplicable',
       'urine_hematest_isNegative', 'urine_hematest_isSmall',
       'urine_hematest_isModerate', 'urine_hematest_isLarge',
       'urine_hematest_isBlankbutapplicable', 'sedimentation_rate',
       'sedimentation_rate_isBlankbutapplicable', 'uric_acid',
       'uric_acid_isUnacceptable', 'uric_acid_isTestnotdone',
       'systolic_blood_pressure', 'pulse_pressure', 'bmi', 'y', 'date'],
      dtype='object')

In [12]:
df.head(100)

,ID,sex_isFemale,age,physical_activity,serum_albumin,alkaline_phosphatase,alkaline_phosphatase_isUnacceptable,alkaline_phosphatase_isTestnotdone,SGOT,SGOT_isUnacceptable,...,sedimentation_rate,sedimentation_rate_isBlankbutapplicable,uric_acid,uric_acid_isUnacceptable,uric_acid_isTestnotdone,systolic_blood_pressure,pulse_pressure,bmi,y,date
0,20751,False,51,3,NaN,85.0,False,False,NaN,True,...,NaN,False,6.2,False,False,110.0,40.0,25.406803,-16.916667,2019-01-01
1,20753,False,41,2,NaN,68.0,False,False,2.27,False,...,NaN,False,7.7,False,False,136.0,54.0,24.588331,-17.166667,2019-01-01
2,20754,True,31,2,NaN,61.0,False,False,1.86,False,...,NaN,False,4.9,False,False,110.0,24.0,23.756502,-17.666667,2019-01-01
3,20755,False,48,2,NaN,58.0,False,False,NaN,True,...,NaN,False,8.4,False,False,126.0,36.0,28.610011,-17.250000,2019-01-01
4,20756,True,29,3,NaN,37.0,False,False,1.69,False,...,NaN,False,4.3,False,False,98.0,36.0,19.216489,-17.083333,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,107,True,31,3,5.2,NaN,False,False,NaN,False,...,11.0,False,NaN,False,False,156.0,78.0,26.760000,-21.083333,2019-01-04
96,109,True,41,3,4.0,NaN,False,False,NaN,False,...,5.0,False,NaN,False,False,128.0,46.0,33.868131,-21.083333,2019-01-05
97,111,False,42,2,4.7,NaN,False,False,NaN,False,...,8.0,False,NaN,False,False,142.0,54.0,26.693030,-21.083333,2019-01-05
98,112,True,44,3,NaN,NaN,False,False,NaN,False,...,7.0,False,NaN,False,False,122.0,44.0,22.510081,-21.083333,2019-01-05
99,116,True,30,3,4.2,NaN,False,False,NaN,False,...,14.0,False,NaN,False,False,124.0,52.0,25.893593,-21.166667,2019-01-05

In [14]:
from sklearn.model_selection import train_test_split

X = df.drop("y", axis=1).copy()
y = df[['ID', 'y']]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=40
)

X_train.head()

,ID,sex_isFemale,age,physical_activity,serum_albumin,alkaline_phosphatase,alkaline_phosphatase_isUnacceptable,alkaline_phosphatase_isTestnotdone,SGOT,SGOT_isUnacceptable,...,urine_hematest_isBlankbutapplicable,sedimentation_rate,sedimentation_rate_isBlankbutapplicable,uric_acid,uric_acid_isUnacceptable,uric_acid_isTestnotdone,systolic_blood_pressure,pulse_pressure,bmi,date
13604,24058,True,41,2,NaN,43.0,False,False,1.65,False,...,False,NaN,False,5.0,False,False,138.0,54.0,26.290071,2020-07-20
11025,20337,False,56,3,4.4,90.0,False,False,5.50,False,...,False,17.0,False,6.9,False,False,196.0,106.0,21.728106,2020-04-04
10370,19147,False,57,8,4.6,48.0,False,False,2.60,False,...,False,3.0,False,6.2,False,False,118.0,44.0,22.920104,2020-03-08
13035,23320,True,30,3,NaN,52.0,False,False,2.00,False,...,False,NaN,False,7.5,False,False,142.0,48.0,44.413467,2020-06-27
5344,9848,False,44,8,NaN,NaN,False,True,NaN,False,...,False,NaN,True,NaN,False,True,120.0,40.0,23.675915,2019-08-11

In [16]:
X_test.head()

,ID,sex_isFemale,age,physical_activity,serum_albumin,alkaline_phosphatase,alkaline_phosphatase_isUnacceptable,alkaline_phosphatase_isTestnotdone,SGOT,SGOT_isUnacceptable,...,urine_hematest_isBlankbutapplicable,sedimentation_rate,sedimentation_rate_isBlankbutapplicable,uric_acid,uric_acid_isUnacceptable,uric_acid_isTestnotdone,systolic_blood_pressure,pulse_pressure,bmi,date
1269,2355,False,69,3,NaN,NaN,False,False,NaN,False,...,False,10.0,False,NaN,False,False,158.0,68.0,21.584709,2019-02-22
6025,11160,False,39,2,4.2,NaN,False,False,NaN,False,...,False,10.0,False,NaN,False,False,90.0,20.0,27.282929,2019-09-09
9087,16827,True,39,3,4.4,NaN,False,False,NaN,False,...,False,15.0,False,NaN,False,False,124.0,54.0,20.606547,2020-01-14
146,210,True,41,3,NaN,NaN,False,False,NaN,False,...,True,2.0,False,NaN,False,False,116.0,44.0,19.366293,2019-01-07
5220,9590,False,66,3,4.5,64.0,False,False,2.4,False,...,True,19.0,False,6.1,False,False,130.0,48.0,28.672863,2019-08-06

In [18]:
import os
X.to_csv(os.path.expanduser("../data/05_model_input/X.csv"), index=False)
y.to_csv(os.path.expanduser("../data/05_model_input/y.csv"), index=False)

X_train.to_csv(os.path.expanduser("../data/05_model_input/X_train.csv"), index=False)
X_test.to_csv(os.path.expanduser("../data/05_model_input/X_test.csv"), index=False)
y_train.to_csv(os.path.expanduser("../data/05_model_input/y_train.csv"), index=False)
y_test.to_csv(os.path.expanduser("../data/05_model_input/y_test.csv"), index=False)