In [2]:
data_y = r"../data/01_raw/NHANESI_y.csv"
data_x = r"../data/01_raw/NHANESI_X.csv"

In [3]:
import csv
import requests
import pandas as pd
import datetime

In [4]:
data_x = pd.read_csv(data_x)

In [5]:
# data_x.columns

In [6]:
data_y = pd.read_csv(data_y)
data_y.columns

Index(['Unnamed: 0', 'y'], dtype='object')

In [7]:
df = pd.merge(data_x, data_y, on=['Unnamed: 0']).rename(columns={'Unnamed: 0': "ID"})

In [8]:
df['date'] = pd.date_range(start='1/1/2019', periods=len(df), freq='H')

In [9]:
newdf = pd.to_datetime(df['date']).dt.normalize()

In [10]:
df['date'] = newdf

In [12]:
df.date.astype("int64") // 10**9

0        1546300800
1        1546300800
2        1546300800
3        1546300800
4        1546300800
            ...
14259    1597622400
14260    1597622400
14261    1597622400
14262    1597622400
14263    1597622400
Name: date, Length: 14264, dtype: int64

In [12]:
# df.columns

In [18]:
df.head(100)

TypeError: Cannot cast DatetimeArray to dtype float64

In [14]:
from sklearn.model_selection import train_test_split

X = df.drop("y", axis=1).copy()
y = df[['ID', 'y']]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=40
)

X_train.head()

,ID,sex_isFemale,age,physical_activity,serum_albumin,alkaline_phosphatase,alkaline_phosphatase_isUnacceptable,alkaline_phosphatase_isTestnotdone,SGOT,SGOT_isUnacceptable,...,urine_hematest_isBlankbutapplicable,sedimentation_rate,sedimentation_rate_isBlankbutapplicable,uric_acid,uric_acid_isUnacceptable,uric_acid_isTestnotdone,systolic_blood_pressure,pulse_pressure,bmi,date
13604,24058,True,41,2,NaN,43.0,False,False,1.65,False,...,False,NaN,False,5.0,False,False,138.0,54.0,26.290071,2020-07-20
11025,20337,False,56,3,4.4,90.0,False,False,5.50,False,...,False,17.0,False,6.9,False,False,196.0,106.0,21.728106,2020-04-04
10370,19147,False,57,8,4.6,48.0,False,False,2.60,False,...,False,3.0,False,6.2,False,False,118.0,44.0,22.920104,2020-03-08
13035,23320,True,30,3,NaN,52.0,False,False,2.00,False,...,False,NaN,False,7.5,False,False,142.0,48.0,44.413467,2020-06-27
5344,9848,False,44,8,NaN,NaN,False,True,NaN,False,...,False,NaN,True,NaN,False,True,120.0,40.0,23.675915,2019-08-11

In [15]:
X_test.head()

,ID,sex_isFemale,age,physical_activity,serum_albumin,alkaline_phosphatase,alkaline_phosphatase_isUnacceptable,alkaline_phosphatase_isTestnotdone,SGOT,SGOT_isUnacceptable,...,urine_hematest_isBlankbutapplicable,sedimentation_rate,sedimentation_rate_isBlankbutapplicable,uric_acid,uric_acid_isUnacceptable,uric_acid_isTestnotdone,systolic_blood_pressure,pulse_pressure,bmi,date
1269,2355,False,69,3,NaN,NaN,False,False,NaN,False,...,False,10.0,False,NaN,False,False,158.0,68.0,21.584709,2019-02-22
6025,11160,False,39,2,4.2,NaN,False,False,NaN,False,...,False,10.0,False,NaN,False,False,90.0,20.0,27.282929,2019-09-09
9087,16827,True,39,3,4.4,NaN,False,False,NaN,False,...,False,15.0,False,NaN,False,False,124.0,54.0,20.606547,2020-01-14
146,210,True,41,3,NaN,NaN,False,False,NaN,False,...,True,2.0,False,NaN,False,False,116.0,44.0,19.366293,2019-01-07
5220,9590,False,66,3,4.5,64.0,False,False,2.4,False,...,True,19.0,False,6.1,False,False,130.0,48.0,28.672863,2019-08-06

In [16]:
import os
X.to_csv(os.path.expanduser("../data/05_model_input/X.csv"), index=False)
y.to_csv(os.path.expanduser("../data/05_model_input/y.csv"), index=False)

X_train.to_csv(os.path.expanduser("../data/05_model_input/X_train.csv"), index=False)
X_test.to_csv(os.path.expanduser("../data/05_model_input/X_test.csv"), index=False)
y_train.to_csv(os.path.expanduser("../data/05_model_input/y_train.csv"), index=False)
y_test.to_csv(os.path.expanduser("../data/05_model_input/y_test.csv"), index=False)